[submodule "EmbeddedProto"]
	path = EmbeddedProto
	url = https://github.com/Embedded-AMS/EmbeddedProto.git
[submodule "ros_stuff/rover/catkin"]
	path = ros_stuff/rover/catkin
	url = https://github.com/ericsherman4/catkin
[submodule "ros_stuff/baseStation/catkin_ws"]
	path = ros_stuff/baseStation/catkin_ws
	url = https://github.com/jsb19227/catkin_ws
