<launch>

    <node pkg="networking_stuff" type="networking_stuff_camera_feed_network_node" name="camera_feed_network_node" output="screen"/>
    <node pkg="networking_stuff" type="networking_stuff_camera_position_network_node" name="camera_position_network_node" output="screen"/>
    <node pkg="networking_stuff" type="networking_stuff_map_data_network_node" name="map_data_network_node" output="screen"/>
    <node pkg="networking_stuff" type="networking_stuff_rover_commands_network_node" name="rover_commands_network_node" output="screen"/>
    <node pkg="networking_stuff" type="networking_stuff_rover_status_network_node" name="rover_status_network_node" output="screen"/>
    
</launch>